.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navImage {
  max-width: 100% !important;
  margin-right: 17% !important;
}

.headerColor
{
  background:#D3D3D3;
}
.marginLft{
  margin-left: 671%;
}

.fap{
  padding: 5%;
}
.marginRight{
  margin-left: 44%;
  color: black;
}

