<form [formGroup]="form" class="parent-class">
  <mat-card mat-elevation-z8 class="login-form" align="center">
    <div class="wp100" [style.visibility]="showSpinner ? 'visible' : 'hidden'">
      <mat-progress-bar class="tn16px" mode="indeterminate"></mat-progress-bar>
    </div>
    <mat-card-title>Data MarketPlace</mat-card-title>
    <mat-card-content>
      <mat-form-field class="wp100" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" name="username" formControlName="username" required>
        <mat-icon matSuffix color="primary">account_circle</mat-icon>
      </mat-form-field>
      <mat-form-field class="wp100" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" type="password" name="password" formControlName="password" required>
        <mat-icon matSuffix [ngStyle]="{'color': '#4caf50'}">fingerprint</mat-icon>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="wp100" [ngStyle]="{'background-color': '#003152','color':'#FFF'}" type="submit"
        (click)="login()">Login</button>
    </mat-card-actions>
  </mat-card>
</form>