<div class="parent-class">
  <div class="login-form">
  </div>
</div>

<div style="margin-top:2%;margin-left: 2%;">
  <mat-card class="col-md-4 cardHeight">
    <mat-card-header class="header">
      <mat-card-title>Quick Access</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>This displays data for quick access</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="col-md-3 cardHeight" style="margin-left:1%">
    <mat-card-header class="header">
      <mat-card-title>Most Used Data Products</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Displays most frequent data</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="col-md-4 cardHeight" style="margin-left:1%">
    <mat-card-header class="header">
      <mat-card-title>Recently Onboarded Data Products</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Displays Onboarded Data Products</p>
    </mat-card-content>
  </mat-card>
</div>