<mat-toolbar class="mat-elevation-z4 bgcolor" style="z-index:2">
  <mat-toolbar-row>
    <span class="app-name" color="primary">Data MarketPlace</span>
    <span class="fill-space"></span>
    <button mat-icon-button class="icon-space" matTooltip="Cart">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-icon-button class="icon-space" [matTooltip]="CamelCase('admin')">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button class="icon-space" matTooltip="Logout" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer fixedInViewport="false" fullscreen class="sidenav mat-elevation-z2"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-nav-list>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="search" routerLinkActive="active-tab">
        <img src="assets/Image/project.png" class="w25px mr16px">Dashboard</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="accessForm" routerLinkActive="active-tab" href="#">
        <img src="assets/Image/jobs.png" class="w25px mr16px">Data Access Form</a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>